<div class="container">
	<div class="col-md-4">
		<h4>Kontak LBH Pers</h4>

		<table style="font-size: 13px;">
			<tbody>
				<tr>
					<td style="vertical-align: top;">Alamat</td>
					<td style="vertical-align: top;">:</td>
					<td>
						<div>Jl. Raden Patah I/1, Lt. 6 Wing 3</div>
						<div>Kebayoran Baru</div>
						<div>Jakarta 12110</div>

						<div>&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top;">Telepon/Fax</td>
					<td style="vertical-align: top;">:</td>
					<td>
						<div>(021) 72788108</div>
						<div>&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top;">Email</td>
					<td style="vertical-align: top;">:</td>
					<td><a href="mailto:asdepppk@yahoo.co.id">asdepppk@yahoo.co.id</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4"></div>
</div>

<div class="container">
	<!--
	<div>
		<p style="text-align: center;">
			<a href="#" target="_blank">Mataram</a> |
			<a href="#" target="_blank">Manado</a> | 
			<a href="#" target="_blank">Palu</a> | 
			<a href="#" target="_blank">Makassar</a> | 
			<a href="#" target="_blank">Kendari</a> | 
			<a href="#" target="_blank">Pekanbaru</a> | 
			<a href="#" target="_blank">Bandung</a>&nbsp;| 
			<a href="#" style="text-align: center;" target="_blank">Jakarta</a>&nbsp;| 
			<a href="#" target="_blank">Kediri</a>&nbsp;|&nbsp;
			<a href="#" target="_blank">Bengkulu</a>&nbsp;|&nbsp;
			<a href="#" target="_blank">Pontianak</a>&nbsp;|&nbsp;
			<a href="#" target="_blank">Ambon</a>
		</p>
	</div>
	-->
	
	<p>&copy; 2015. Hak cipta dilindungi undang-undang.</p>
</div>