<!DOCTYPE html>
<html>
<head>
    <title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <base href="<?php echo base_url($this->theme->path) ?>/" />
    <link rel="stylesheet" href="<?php echo base_url($this->theme->path) ?>/css/style.css" type="text/css" media="all" />
    <!--[if IE]>
    <style type="text/css" media="screen">
    .shell {background-image: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/shell-bg.png', sizingMethod='scale');}
    .box{background-image: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/dot.png', sizingMethod='scale');}
    .transparent-frame .frame{background-image: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/transparent-frame.png', sizingMethod='image');}
    .search .field{padding-bottom:9px}
    </style>
    <![endif]-->
    <script src="js/jquery/jquery.js"></script>
    <script src="js/jquery-func.js"></script>

    {{ template:metadata }}
  
</head>
<body>
<!-- Shell -->
<div class="shell">
    {{ widgets:instance id="1"}}
    <!-- Header -->
    {{ theme:partial name="header" }}
    <!-- End Header -->
  
    <!-- Content -->
    <div id="content">
        
        <!-- Sidebar -->
        {{ theme:partial name="sidebar" }}
        <!-- End Sidebar -->
        
        <!-- Main -->
        <div id="main">
      		
            <div class="box">
      			<h2>{{ page:title }}</h2>
      			
      			<div style="padding:0 13px; ">
      				{{ session:messages success="success-box" notice="notice-box" error="error-box" }}
      				
      				{{ template:body }}
      			</div>
      		</div>
    	  
            <!-- Main Sidebar -->
            {{ theme:partial name="main-sidebar" }}
            <!-- End Main Sidebar -->
        
        </div>

        <!-- End Main -->
        <div class="cl">&nbsp;</div>
    </div>
    <!-- End Content -->
  
  <!-- Footer -->
  {{ theme:partial name="footer" }}
  <!-- End Footer -->
  
</div>
<!-- End Shell -->

</body>
</html>